<footer class="container-fluid">

	<div class="row">
		<div class="col-lg-6">
			<div class="logo logo-light"></div>
			<p class="mt-4">&copy; 2018 - ALL RIGHTS RESERVED.</p>
		</div>
		<div class="col-lg-3">
			<h5>Quick Links</h5>
			<ul>
				<li><a [routerLink]="['/pricing']">Pricing Model</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Terms</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">News</a></li>
			</ul>
		</div>
		<div class="col-lg-3">
			<h5>Folow Us</h5>
			<ul class="social-icons">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>


	</div>
</footer>