<baam-header [links]="links"></baam-header>
<div class="container-fluid bg-effect-gray">
    <div class="row">
        <div class="col mt-4 mb-2">
            <h2>Checkout</h2>
        </div>
    </div>
</div>
<div class="container-fluid bg-effect-white">
    <div class="container mt-4 mb-4">
        <div class="row checkout-item mb-4">
            <div class="col-3">
                <img class="asset-list-image" src="../../assets/img/house1.jpg">
                <div class="document-icons pl-2">
                    <i class="fa fa-file" title="Yielding Report"></i>Yielding Report <br>
                    <i class="fa fa-file" title="Macroeconomic Report"></i>Macroeconomic Report
                </div>
            </div>
            <div class="col-4">
                <strong>Location: </strong> Santorini, Greece
                <br>
                <strong>Value:</strong> 240K
                <br>
                <strong>Distressed Value:</strong> 150K
                <br>
                <strong>Asset Information: </strong>
                <ol>
                    <li>Consectetur adipiscing elit.</li>
                    <li>Cillum dolore eu fugiat nulla pariatur.</li>
                    <li>Mollit anim id est laborum.</li>
                </ol>
            </div>
            <div class="col asset-description">
                <strong>Description: </strong>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in ...
                </p>
            </div>
            <div class="col-1">
                <i class="fa fa-trash close"></i>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pt-3 mb-3">
        <div class="col text-center">
            <button class="btn btn-action" (click)="testBlockchain()">CHECKOUT</button> <!-- [routerLink]="['/ai']"-->
        </div>
    </div>
</div>
