<baam-header [links]="links" ></baam-header>
<div class="container-fluid bg-effect-gray">

	<div class="row">
		<div class="col mt-4 mb-2">
			<h2>PRICING MODEL</h2>
		</div>
	</div>
</div>

<div class="container-fluid bg-effect-white">
	<div class="row">
		<div class="col mt-4 mb-3 d-flex justify-content-center">
			<table class="table table-bordered text-center">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">BAAM</th>
						<th scope="col">BAAM Premium</th>
						<th scope="col">BAAM Gold</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" class="text-left">Annual Subscriptions</th>
						<td class="positive">Free</td>
						<td>&euro;699</td>
						<td>&euro;999</td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Macroeconomic Report (1 page PDF)</th>
						<td>&euro;99</td>
						<td class="positive">Free</td>
						<td class="positive">Free</td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Yielding Report (1 page PDF)</th>
						<td>&euro;499</td>
						<td class="positive">Free</td>
						<td class="positive">Free</td>
					</tr>
					<tr>
						<th scope="row" class="text-left">Rebates (1m / Semiannually) </th>
						<td class="negative">No</td>
						<td>10%</td>
						<td>20%</td>
					</tr>
				</tbody>
			</table>
		</div>

</div>