// Buttons

.btn {
    border: none;
    text-transform: uppercase;
    // min-width: 200px;

    background-color: $theme-button;
    color: $white;
}

.btn-action {
    background-color: $theme-button-action;  
    color: $white;
}
.btn-dark {
    background-color: $black;  
    color: $white;
}
.btn-light {
    background-color: $white;
    color: $sushi;
    border: 1px solid $sushi;
}


@media(min-width: 1000px) {
    .btn-wide {
        width: 400px;
    }
}