// Style for the footer

footer {
    padding: 40px; 
    padding-bottom: 20px;
    background-color: $theme-footer-background;
    
    color: $white;
    font-size: 0.9em;
    font-weight: 600;

    line-height: 2rem;

    ul {
        list-style-type: none;
        padding: 0.2em;
    }
    a {
        color: $theme-footer-links; 
    }
    a:hover {
        color: $white;
    }
}